<% provide(:title, "Edit") %>
<div class='errormesg'><%= @post.errors.full_messages if @post.errors.any? %></div>
<h1>Edit Post</h1>

<%= form_for @post do |f| %>
	<p>

		<%= f.label :name %><BR>
		<%= f.text_field :name, class: 'form-control' %><BR>

	</p>
	<p>

		<%= f.label :remarks %><BR>
		<%= f.text_field :remarks, class: 'form-control' %><BR>
		
	</p>

	<%= f.submit "Update Post", class:"btn btn-success" %>
<% end %>
<BR>
<BR>
<%= link_to  "Go Back", post_path %>