<% provide(:title, "Edit") %>
<h1>Edit Post</h1>

<%= form_for @post do |f| %>
    <% if f.object.errors.each do |message| %>
       <li><%= message %></li>
    <% end %>
  <% end %>

	<p>
	<%= error_messages_for :post %>

		<%= f.label :name %><BR>
		<%= f.text_field :name, class: 'form-control' %><BR>
	</p>
	<%= f.submit "Update Post" %>
<% end %>
<BR>
<BR>
<%= link_to  "Go Back", post_path , class: "button" %>