<% provide(:title, "Home") %>
<h1>
<% if @post.name %>
<div class='post'><%= @post.name %><BR><%= @post.remarks %></div>
<% end %>
</h1>

<%= link_to  "Edit this Post", edit_post_path  , class: "btn btn-success" %>
<%= link_to  "Show all", posts_path  , class: "btn btn-primary" %>
<%= link_to  "Delete", @post, :confirm => "Are you sure ?" , :method => :delete  , class: "btn btn-danger" %>