<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Param's first App designed in RoR framework</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% flash.each do |key,value| %>
  <div class='successmesg'><p><%= value %></p></div>
  <% end %>

  <%= render 'partials/post' %>

<html>

    <div id="main-container" class="container">
      <div class="row">
        <div id="sidebar" class="col-xs-3">
          <!-- sidebar content -->
        </div>
        <div id="content" class="col-xs-9">
    			<%= yield %>
        </div>
      </div>
    </div>
    
  </body>
</html>
